{% extends 'PageBundle::layoutIndex.html.twig' %}
{% block content %}
<link rel="stylesheet" href="{{ asset('assets/css/page.css') }}" />
<div class="container">
    <div class="page_word_content">
      <p class="title">关于秀财 </p>
      <p>秀财网是针对财务从业人员的倾力打造的在线教育网站，为企业提供专业，高效，经济的财务培训解决方案。这里有最专业的财务实务课程。 </p>
      <p >我们始终坚持&quot;终身财务学习&quot;之理念，坚持&quot;系统财务培训&quot;之方式，通过先进的网络科技，将财务人员的学习空间和时间进行无限延伸和扩大，帮助财务人员持续、主动、多元化及全方位地进行学习。 </p>
      <p class="stitle">我们的在线学习理念 </p>
      <p >互动学习，分享学习，移动学习，碎片学习 </p>
      <p class="stitle">我们的优势 </p>
      <p ><strong>行业先驱</strong> </p>
      <p >颠覆传统财务培训与变革，秀财网集财经教育核心资源于一身，跨入一个全新的阶段，以最新的互联网模式和精细化的服务体系，打造中国财经领域顶尖的在线教育领导品牌。 </p>
      <p >&nbsp;</p>
      <p ><strong>名师汇聚</strong> </p>
      <p >汇聚业界最顶尖的师资团队，拥有中国财务领域权威、核心的资源，从政策制定者到学者教授，从全球知名企业财务高管的实战精英到资深培训专家，并与多家享誉全球的商学院建立合作关系，获得多家世界权威会计师组织青睐。 </p>
      <p >&nbsp;</p>
      <p ><strong>权威教研</strong> </p>
      <p >秀财网打造的中国最具权威的高端教研团队，集合财税局官员、财务专家、知名跨国企业以及大型国企上市公司的财税高级管理人员，经过反复论证及实践，对网络课程体系做了全面升级，并将这一汇集国内外研发力量的智慧成果与您分享。 </p>
      <p >&nbsp;</p>
      <p ><strong>自由学习</strong> </p>
      <p >忙于工作的你，可能经常分身乏术，在时间和空间成本上不能自由支配。秀财网在线课程，让你随时随地利用&#8220;碎片时间&#8221;，开启高效自由的学习模式，快速提升实战能力。 </p>
      <p >&nbsp;</p>
      <p ><strong>经验交流</strong> </p>
      <p >与同行一起在线共同探讨，解决学习中遇到的疑点难点，分享工作中的经验成果，让你轻松拥有财税领域最活跃的经验分享圈。 </p>
      <p >&nbsp;</p>
      <p ><strong>学员特权</strong> </p>
      <p >秀财网以学员为中心，围绕核心需求，提供完善的财务培训体系以及丰富多样的学员增值服务，让学员终身享受我们的免费公开课、同行交流平台、《会计师世界》电子杂志，以及实时资讯、环球政经、高端访谈、财务实战、职业规划、生活品鉴、财务拓展等诸多领域最新动态。 </p>
    </div>
</div>
{% endblock %}