{% extends 'PageBundle::layoutIndex.html.twig' %}
{% block content %}
<link rel="stylesheet" href="{{ asset('assets/css/page.css') }}" />
<div class="container">
    <div class="page_word_content">
          <p class="title">联系我们 </p>
          <p >服务热线：021-60821317 </p>
          <p >服务时间：周一至周五8：30-19：00 </p>
          <p >客服邮箱：service@xiucai.com </p>
          <p >联系地址：上海市闸北区梅园路228号企业广场 </p>
          <p >邮编：200070 </p>
    </div>
</div>
{% endblock %}