<div style="margin: 0 auto; text-align: center; width: 1200px; padding-top: 200px;">
    <div style="color:#333333; font-family: 'Microsoft Yahei';font-size: 24px;">您所寻找的页面不存在！请返回首页重新查找吧。<a href="{{ path('PageBundle_page_index') }}" style="color:#3761e8; font-family: 'Microsoft Yahei';font-size: 24px;">返回首页</a> </div>
    <img src="{{ asset('assets/img/error/404_03.png') }}">
</div>