<div style="margin: 0 auto; text-align: center; width: 1200px; padding-top: 200px;">
    <div style="color:#333333; font-family: 'Microsoft Yahei';font-size: 20px;">对不起，程序开小差啦，我们会尽快修复问题！ <a href="{{ path('PageBundle_page_index') }}" style="color:#3761e8; font-family: 'Microsoft Yahei';font-size: 20px;">返回首页</a> </div>
    <img src="{{ asset('assets/img/error/500.png') }}">
</div>