{% extends 'PageBundle::layoutIndex.html.twig' %}
{% block js_css %}
    <link rel="stylesheet" href="{{ asset('assets/css/member.css') }}" />
    <script>
        var user_ajaxSetPass = "{{ path('PageBundle_user_ajaxSetPass') }}";
    </script>
    <script type="text/javascript" src="{{ asset('assets/js/member_setPassword.js') }}"></script>
{% endblock %}
{% block content %}
    <div class="myorder">
        <div class="changepwd fr" style="width: 100%;">
            <ul class="process">
                <li style="color: #8e8e8e;" class="gray1">重置密码</li>
                <li class="gray2"></li>
            </ul>
            <div class="list" style="margin-left: 200px;">
                <div class="pwd_div check_msg" style="margin-left:190px; color:#EE0000;"></div>
                <div class="pwd_div">
                    <span class="pwd_div_2">新的密码</span>
                    <input type="password" class="text_style new_pass" name="new_password">
                </div>
                <div class="pwd_div">
                    <span class="pwd_div_2">重复密码</span>
                    <input type="password" class="text_style repeat_pass" name="repeat_password">
                </div>
                <input type="hidden" name="type" value="reset">
                <input type="hidden" id="findCode" name="find_code" value="{{ findCode }}">
                <div class="btn_edit" style="padding-left: 200px;">
                    <input type="submit" style=" height: 38px; line-height: normal; " id="rest_pass_btn" class="btn_sub rest_pass_btn" value="重置密码">
                </div>
            </div>
        </div>
    </div>
{% endblock %}