{% extends 'PageBundle::layoutIndex.html.twig' %}
{% block js_css %}
    <link rel="stylesheet" href="{{ asset('assets/css/member.css') }}" />
    <script>
        var user_ajaxSetPass = "{{ path('PageBundle_user_ajaxSetPass') }}";
    </script>
    <script type="text/javascript" src="{{ asset('assets/js/member_setPassword.js') }}"></script>
{% endblock %}
{% block content %}
<div class="container">
    <div class="myorder">
        {% include "PageBundle:User:left.html.twig" with{'type':'pasword'} %}
        <div class="changepwd fr">
            <ul class="process">
                <li style="color: #8e8e8e;" class="gray1">修改密码</li>
                <li class="gray2"></li>
            </ul>
            <div class="list">
                <div class="pwd_div check_msg" style="margin-left:190px; color:#EE0000;"></div>
                <div class="pwd_div">
                    <span class="pwd_div_2">当前密码</span>
                    <input type="password" class="text_style current_pass" name="current_password">
                </div>
                <div class="pwd_div">
                    <span class="pwd_div_2">新的密码</span>
                    <input type="password" class="text_style new_pass" name="new_password">
                </div>
                <div class="pwd_div">
                    <span class="pwd_div_2">重复密码</span>
                    <input type="password" class="text_style repeat_pass" name="repeat_password">
                </div>
                <div class="btn_edit">
                    <input type="submit" id="changepwd" class="btn_sub" style=" height: 38px; line-height: normal; " value="保存修改">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}