<div class="footer_div">
    <div class="content">
        <a href="{{ path('PageBundle_page_about') }}">关于我们</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
        <a href="{{ path('PageBundle_page_contact') }}">联系我们</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
        <a href="{{ path('PageBundle_page_feedback') }}">意见反馈</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
        <a href="{{ path('PageBundle_page_terms') }}">服务协议</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;@2014 秀财网 沪ICP备1000469号-II
    </div>
</div>
{#<a class="gtop" onclick="return xc.GoTop()" title="回到页面顶部"></a>#}
